<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online_Pizza_Ordering_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginHandler</display-name>
    <servlet-name>LoginHandler</servlet-name>
    <servlet-class>LoginHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHandler</servlet-name>
    <url-pattern>/LoginHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userregisterInput</display-name>
    <servlet-name>userregisterInput</servlet-name>
    <servlet-class>userregisterInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userregisterInput</servlet-name>
    <url-pattern>/userregisterInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginCheck</display-name>
    <servlet-name>UserLoginCheck</servlet-name>
    <servlet-class>com.wipro.controller.UserLoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginCheck</servlet-name>
    <url-pattern>/UserLoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminregisterinput</display-name>
    <servlet-name>adminregisterinput</servlet-name>
    <servlet-class>com.wipro.controller.adminregisterinput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminregisterinput</servlet-name>
    <url-pattern>/adminregisterinput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginCheck</display-name>
    <servlet-name>AdminLoginCheck</servlet-name>
    <servlet-class>com.wipro.controller.AdminLoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginCheck</servlet-name>
    <url-pattern>/AdminLoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStore</display-name>
    <servlet-name>AddStore</servlet-name>
    <servlet-class>com.wipro.controller.AddStore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStore</servlet-name>
    <url-pattern>/AddStore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStoreDetails</display-name>
    <servlet-name>AddStoreDetails</servlet-name>
    <servlet-class>com.wipro.controller.AddStore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStoreDetails</servlet-name>
    <url-pattern>/AddStoreDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifystore</display-name>
    <servlet-name>modifystore</servlet-name>
    <servlet-class>com.wipro.controller.modifystore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifystore</servlet-name>
    <url-pattern>/modifystore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyStoreInput</display-name>
    <servlet-name>ModifyStoreInput</servlet-name>
    <servlet-class>com.wipro.controller.ModifyStoreInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyStoreInput</servlet-name>
    <url-pattern>/ModifyStoreInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutHandler</display-name>
    <servlet-name>LogoutHandler</servlet-name>
    <servlet-class>com.wipro.controller.LogoutHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutHandler</servlet-name>
    <url-pattern>/LogoutHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStore</display-name>
    <servlet-name>DeleteStore</servlet-name>
    <servlet-class>com.wipro.controller.DeleteStore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStore</servlet-name>
    <url-pattern>/DeleteStore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFood</display-name>
    <servlet-name>AddFood</servlet-name>
    <servlet-class>com.wipro.controller.AddFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFood</servlet-name>
    <url-pattern>/AddFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFood</display-name>
    <servlet-name>DeleteFood</servlet-name>
    <servlet-class>com.wipro.controller.DeleteFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFood</servlet-name>
    <url-pattern>/DeleteFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyFood</display-name>
    <servlet-name>ModifyFood</servlet-name>
    <servlet-class>com.wipro.controller.ModifyFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyFood</servlet-name>
    <url-pattern>/ModifyFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyFoodInput</display-name>
    <servlet-name>ModifyFoodInput</servlet-name>
    <servlet-class>com.wipro.controller.ModifyFoodInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyFoodInput</servlet-name>
    <url-pattern>/ModifyFoodInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addToCart</display-name>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>com.wipro.controller.addToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/addToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart</display-name>
    <servlet-name>Cart</servlet-name>
    <servlet-class>com.wipro.controller.Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFoodCart</display-name>
    <servlet-name>RemoveFoodCart</servlet-name>
    <servlet-class>com.wipro.controller.RemoveFoodCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFoodCart</servlet-name>
    <url-pattern>/RemoveFoodCart</url-pattern>
  </servlet-mapping>
</web-app>